
*.vcxproj
*.sln
*.db
*.exe
*.pdb

.vs
.vscode
.git

build/binaries
build/__development_output__
build/logs
build/tools
build/*.pdb
build/*.dll
build/*.lib
build/*.exp

project/*.aps
project/*.user
project/*.filters
*.vcxproj
*.vcxproj.*

ide_projects/*